<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
  <meta charset="UTF-8">
  <title update-title></title>

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>



  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- home_page style -->
  <link rel="stylesheet" href="css/home_page.css">

  <!-- room detail css -->
  <!-- <link rel="stylesheet" href="css/room_detail.css"> -->

</head>
<!-- <body ng-controller="homeController" class="container-fluid"> -->


    
    <img ng-src="{{bgImgArr1}}" alt="" class="bg">
  
    <div class="img-burn"></div>
    <div class="img-burn"></div>
    
    <div class="border-wrapper">
      <div class="outer-border"></div>
      <div class="outer-border"></div>
      <div class="outer-border"></div>
      <div class="outer-border"></div>
      <div class="outer-border"></div>
      <img src="content/top-left-border.png" class="top-left-border border-corner" alt="">
      <img src="content/top-right-border.png" class="border-corner top-right-border" alt="">
      <img src="content/bottom-left-border.png" class="border-corner bottom-left-border" alt="">
      <img src="content/bottom-right-border.png" class="border-corner bottom-right-border" alt="">
      <img src="content/charmont-logo.png" class="main-logo" alt="Charmont">
    </div>

  <!-- <div class="container-fluid"> -->
    <div class="row">

      <div class="navigation">
        <ul>
          <li ng-if="navLinks" ng-repeat="link in navLinks">
            <a href="{{link.PATH}}">{{link.LINKTITLE}}</a>
          </li>
        </ul>
      </div>
    </div>
    
    
    <div class="title-wrapper">
      <div class=" title">
        <div class="text-line-break"></div>
        {{mainInfo.SLIDES[0].H1}}
        <div class="text-line-break"></div>
      </div>
    </div>

    <div class="footer">
      <ul class="footer-info">
        <li>101 STATE STREET</li>
        <li>|</li>
        <li>LA CROSSE, WI 54601</li>
        <li>|</li>
        <li>866-697-7300</li>
        <li>|</li>
        <li>SIGN UP FOR EMAILS</li>
      </ul>

      <div class="social-links">
        <ul>
          <li>
            <a href="{{mainInfo.SOCIAL_ICON1}}">
              <img src="content/facebook-logo.png" alt="">
            </a>
          </li>
          <li>
            <a href="{{mainInfo.SOCIAL_ICON2}}">
              <img src="content/twitter-logo.png" alt="">
            </a>
          </li>
          <li>
            <a href="{{mainInfo.SOCIAL_ICON3}}">
              <img src="content/instagram-logo.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
    
    
    
    <!-- <div ng-if="bgImgArr1" ng-style="{'background-image':'url({{bgImgArr1}})'}" class="cover"></div> -->
  <!-- </div> -->
  
  <!-- app -->
  <script src="app.js"></script>

  <!-- controllers -->
  <script src="controllers/mainController.js"></script>

  <!-- directives -->
  <script src="directives/updateTitle.js"></script>
  <script src="directives/backgroundImageDirective.js"></script>

  <!-- services -->
  <script src= "homeService.js"></script>
</body>
</html>